.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: rgb(2, 19, 250);
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: rgb(4, 0, 255);
}
td img{
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid rgb(0, 17, 250);
    width: 100%;
    max-width: 450px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
td .submit-btn{
    width: 100%;
    padding:17px;
    font-size: 17px;
    background: #001aff;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
td .submit-btn:hover{
    background: #2ecc71;
  }